<header class="site-header" role="banner">

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav">
      
      <div class="trigger">
        <button id="theme-toggle" class="theme-toggle" title="Przełącz tryb">🌙</button>
      </div>
    </nav>
  </div>
</header>

<script>
  console.log("Skrypt Dark Mode załadowany"); 
  
  const toggleButton = document.getElementById('theme-toggle');
  const body = document.body;

  if (localStorage.getItem('theme') === 'dark') {
    body.classList.add('dark-mode');
    if(toggleButton) toggleButton.innerText = '☀️';
  }

  if (toggleButton) {
    toggleButton.addEventListener('click', () => {
      body.classList.toggle('dark-mode');
      console.log("Przełączono tryb. Klasa dark-mode:", body.classList.contains('dark-mode'));

      if (body.classList.contains('dark-mode')) {
        localStorage.setItem('theme', 'dark');
        toggleButton.innerText = '☀️';
      } else {
        localStorage.setItem('theme', 'light');
        toggleButton.innerText = '🌙';
      }
    });
  } else {
    console.error("Nie znaleziono przycisku o ID 'theme-toggle'");
  }
</script>